version: "3.1"
services:

    postgres:
      image: postgres:9.5-alpine
      container_name: fsgt-postgres
      volumes:
        - /srv/fsgt/db:/var/lib/postgresql/data
      environment:
        - POSTGRES_USER=bap
        - POSTGRES_PASSWORD=F7tGLQNP
        - POSTGRES_DB=fsgt

    nginx:
      image: nginx:alpine
      container_name: fsgt-nginx
      working_dir: /app
      volumes:
          - /srv/fsgt/site:/app
          - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
          - ./docker/nginx/letsencrypt/certs:/etc/letsencrypt
          - ./docker/nginx/letsencrypt/data:/data/letsencrypt
      ports:
       - 80:80
       - 443:443
      depends_on:
        - php-fpm

    php-fpm:
      build: docker/php-fpm
      container_name: fsgt-php-fpm
      working_dir: /app
      volumes:
        - /srv/fsgt/site:/app
        - ./docker/php-fpm/php-ini-overrides.ini:/etc/php/7.1/fpm/conf.d/99-overrides.ini

