<p>Les choses qu'il te reste à faire:</p>
<div class="card-group">
    
    {% if not user.medicalCertificateName or not user.discountDocumentName %}
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Ajouter ton 
                    {% if not user.medicalCertificateName and not user.discountDocumentName %}
                        certificat médical et ton justificatif de tarif réduit
                    {% elseif not user.medicalCertificateName %}
                        certificat médical
                    {% elseif not user.discountDocumentName %}
                        justificatif de tarif réduit
                    {% endif %}
                </h4>
                <a href="{{ path('edit_user') }}" class="btn btn-lg btn-primary">Mon profil</a>
            </div>
        </div>
    {% endif %}

    {% if user.payment_status != 'paid' %}
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Payer la cotisation</h4>
                
                {% if user.payment_status == 'processing' %}
                    <p class="lead">Ton paiement est en cours.</p>
                {% else %}
                    
                    <form action="{{ path('stripe_charge') }}" method="post" id="payment-form">
                        <div class="form-row">
                            <div>
                                <div id="card-element">
                                    <!-- a Stripe Element will be inserted here. -->
                                </div>
                                
                                <button class="btn btn-lg btn-primary">Payer {{user.has_discount ? '60' : '80'}}€</button>
                            </div> <!-- -->
                            <!-- Used to display Element errors -->
                            <div id="card-errors" role="alert"></div>
                        </div><!-- form-row -->
                    </form>
                {% endif %}
            </div> <!-- card-block -->
        </div> <!-- card -->
    {% endif %}
</div> <!-- card-group -->
