{% if not user.medicalCertificateName %}
    <a href="{{ path('edit_user') }}" class="btn btn-lg btn-primary">Ajoute ton certificat médical</a>
{% endif %}

{% if not user.discountDocumentName %}
    <a href="{{ path('edit_user') }}" class="btn btn-lg btn-primary">Ajoute ton justificatif de tarif réduit</a>
{% endif %}
