{% extends 'base.html.twig' %}

{% block body %}

    <nav style="position:absolute;top:0px;right:0px;">
      <ul class="nav">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_panel', {id: user.main_club.id}) }}"><i class="fa fa-cog"></i></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('edit_user') }}"><i class="fa fa-user"></i></a>
        </li>
      </ul>
    </nav>

  <div class="container vertical-center">
      {% block content%}{% endblock %}
  </div>


{% block footer %}
{% endblock %}

{% endblock %}
