{% extends 'layout.html.twig' %}

{% block title %}
    {{user.main_club.name}}
{% endblock %}

{% block content %}

    <div class="jumbotron pop">

        <h4>Salut{{' ' ~user.first_name}},</h4>

        {% if user.state == 'new' %}
            {% include 'status/new.html.twig' %}
        {% elseif user.state == 'in_lottery' %}
            <p class="lead">Tu es inscrit(e) au tirage au sort. Tu seras averti(e) par mail quand nous aurons les résultats.</p>
        {% elseif user.state == 'waiting_certificate' %}
            {% include 'status/waiting_certificate.html.twig' %}
        {% elseif user.state == 'waiting_discount_document' %}
            {% include 'status/waiting_discount_document.html.twig' %}
        {% elseif user.state == 'waiting_payment' %}
            {% include 'status/waiting_payment.html.twig' %}
        {% elseif user.state == 'in_waiting_list' %}
            {% include 'status/in_waiting_list.html.twig' %}
        {% elseif user.state == 'waiting_skill_check' %}
            <div class="lead">
                <p>Ton paiement a été validé. Tu y es presque !</p>
                <p>
                    Un membre du club doit maintenant effectuer ta formation ou valider ton autonomie.
                    Une fois validé(e) tu seras officiellement membre des Trois Mousquetons !
                </p>
            </div>
        {% elseif user.state == 'member' %}
            <p class="lead">Tu es membre des Trois Mousquetons. Bonne grimpe !</p>
        {% endif %}

    </div> <!-- jumbo -->

    {#{% include 'repartition.html.twig'%}#}

{% endblock %}

{% block footer %}
    {% if is_granted('ROLE_ADMIN') %}
        <ul style="position:absolute; bottom: 0px; left: -30px; list-style:none; color: #44A08D">
            {% for state in places %}
                <li>
                    <a href="{{ path('change_state', {'state': state}) }}" style="">
                        <i class="fa fa-{{('fa-' ~ state)|trans}}"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
