{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">

        <h3>Salut{{' ' ~user.first_name}},</h3>

        {% if user.state == 'member' %}
            <h1 class="display-4">Tu es membre des Trois Mousquetons. Bonne grimpe !</h1>
        {% else %}

            {% if user.state == 'new' %}
                <a href="{{ path('edit_user') }}" class="btn btn-lg btn-primary">Edite ton profil pour pouvoir t'inscrire</a>
            {% elseif user.state == 'in_lottery' %}
                <p class="lead">Tu es inscrit(e) au tirage au sort. Tu seras averti(e) par mail quand nous aurons les résultats.</p>
            {% elseif user.state == 'waiting_certificate' %}
                {% include 'status/waiting_certificate.html.twig' %}
            {% elseif user.state == 'waiting_payment' %}
                {% include 'status/waiting_payment.html.twig' %}
            {% elseif user.state == 'in_waiting_list' %}
                {% include 'status/in_waiting_list.html.twig' %}
            {% elseif user.state == 'waiting_skill_check' %}
                <p>
                    Ton paiement a été validé. Tu y es presque !
                    Un membre du club doit maintenant effectuer ta formation ou valider ton autonomie.
                    Une fois validé(e) tu seras officiellement membre des Trois Mousquetons !
                </p>
            {% endif %}

        {% endif %}

    </div> <!-- jumbo -->

    {% include 'repartition.html.twig'%}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="alert" style="margin-top:50px">
            {% for state in places %}
                <a href="{{ path('change_state', {'state': state}) }}" class="btn btn-secondary">{{state}}</a>
            {% endfor %}
        </div>
    {% endif %}



{% endblock %}
