imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr

framework:
    #esi: ~
    translator: { fallbacks: ['fr', 'en'] }
    secret: '%env(SECRET)%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true
    workflows:
      workflow:
        type: 'state_machine'
        supports:
            - AppBundle\Entity\User
        places:
            - new
            - in_waiting_list
            - in_lottery
            - waiting_documents
            - waiting_payment
            - waiting_skill_check
            - member
        transitions:
            fill_profile:
                from: new
                to: in_waiting_list
            enter_lottery:
                from: in_waiting_list
                to: in_lottery
            win_lottery:
                from: in_lottery
                to: waiting_documents
            lose_lottery:
                from: in_lottery
                to: in_waiting_list
            upload_certificate:
                from: waiting_documents
                to: waiting_payment
            pay:
                from: waiting_payment
                to: waiting_skill_check
            get_validated:
                from: waiting_skill_check
                to: member
            re_subscribe:
                from: member
                to: waiting_documents

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes:
        - 'bootstrap_3_layout.html.twig'
        - 'VichUploaderBundle:Form:fields.html.twig'
    globals:
      stripe_mode: '%stripe_mode%'
      stripe_pk_live: pk_live_bfNJ1zkGYlXlZaE3xXvu4VSP
      stripe_pk_test: pk_test_TRg4a2iSWUBcPsTeHChtD5OY

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_pgsql
        host: '%env(POSTGRES_HOST)%'
        port: '%env(POSTGRES_PORT)%'
        dbname: '%env(POSTGRES_DB)%'
        user: '%env(POSTGRES_USER)%'
        password: '%env(POSTGRES_PASSWORD)%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.project_dir%/var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%env(MAILER_TRANSPORT)%'
    host: '%env(MAILER_HOST)%'
    username: '%env(MAILER_USER)%'
    password: '%env(MAILER_PASSWORD)%'
    spool: { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    registration:
        form:
            type: AppBundle\Form\RegistrationFormType
        confirmation:
            enabled: true
    from_email:
        address: '%env(MAILER_USER)%'
        sender_name: '%env(MAILER_USER)%'

vich_uploader:
    db_driver: orm
    mappings:
        medical_certificate:
            uri_prefix: /medical_certificates
            upload_destination: '%kernel.project_dir%/web/medical_certificates'
            namer: vich_uploader.namer_uniqid
        discount_document:
            uri_prefix: /discount_documents
            upload_destination: '%kernel.project_dir%/web/discount_documents'
            namer: vich_uploader.namer_uniqid

easy_admin:
    site_name: 'Administration'
    entities:
        Club:
            class: AppBundle\Entity\Club
            label: Clubs
        User:
            class: AppBundle\Entity\User
            label: Utilisateurs
            list:
              fields:
                - 'email'
                - 'name'
                - 'marking'
                - 'main_club'
                - 'birthday'
                - {property: 'medicalCertificateName', type: 'image', base_path: '/medical_certificates'}
                - {property: 'discountDocumentName', type: 'image', base_path: '/discount_documents'}
