parameters:

    #stripe
    use_live_stripe: '%env(USE_LIVE_STRIPE)%'

    stripe_test_token: '%env(STRIPE_TEST_TOKEN)%'
    stripe_live_token: '%env(STRIPE_LIVE_TOKEN)%'

    stripe_endpoint_secret_test: '%env(STRIPE_ENDPOINT_SECRET_TEST)%'
    stripe_endpoint_secret_live: '%env(STRIPE_ENDPOINT_SECRET_LIVE)%'
