{% extends 'base.html.twig' %}

{% block body %}
{% block content %}
<div style="width: 500px;" class="container pop">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
  {% endblock %}
{% endblock %}
