html {
    height: 100%;
}

body {
    height: 100%;
    background: #FF8008;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pop {
    background-color: white;
    /* -webkit-box-shadow: 0px 8px 30px -4px rgba(0,0,0,0.5); */
    /* -moz-box-shadow: 0px 8px 30px -4px rgba(0,0,0,0.5); */
    box-shadow: 0px 8px 30px -4px #093637;
    border-radius: .4rem;
    padding: 30px;
    color: #444;
    margin: 0 auto;
}

.btn-primary {
/*    background: linear-gradient(to top, #649173, #DBD5A4);*/
    background: #093637;
    border: none;
/*    border-radius: 2rem;*/
}

.btn-primary:hover {
    background-color: #44A08D;
}

.cnil a {
    color: #44A08D;
}


.nav-item a {
    color: white;
}

.jumbotron {
    width: 800px;
}

#admin-container {
    margin-top: 20px;
    padding: 20px;
}

.required::after {
    /*content: ' *';*/
}

.cnil {
    margin-top: 30px;
    color: #aaa;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin a {
    color: #999;
    padding-right: 20px;
}

.progress-status {
    width: 20%;
    height: 60px;
}

.status-count {
    font-size: 40px;
    margin-top: 12px;
}
