{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
     body {
         padding-top: 50px;
         padding-bottom: 50px;
         background-color: #eee;
     }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}


