{% extends 'email/layout.html.twig' %}

{% block email_content %}

<p>Bonjour !</p>

<p>Les inscriptions sont ouvertes !</p>
<p>
<a href="bap.ovh{{path('edit_user')}}">Clique sur ce lien</a> pour remplir le formulaire d'inscription.
</p>

{% endblock %}
