{% extends 'email/layout.html.twig' %}

{% block email_content %}

<p>Nous avons le regret de t'annoncer que tu n'as pas été tiré(e) au sort :(</p>
<p[>Nous t'avons mis dans notre liste d'attente pour les prochaines inscriptions.</p>

{% endblock %}
