{% extends 'email/layout.html.twig' %}

{% block email_content %}

<p>Félicitations !</p>

<p>Tu as été tiré au sort.</p>
<p>Tu dois maintenant payer ta cotisation et uploader ton certificat médical.</p>
<p>
<a href="{{url('homepage')}}">Clique ici</a>.
</p>

{% endblock %}
